.container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input{
    display:flex;
    align-items: center;
    flex-grow: 1;
    width: 30%;
    padding-right: 8px;
}

.buttons{
    flex-grow: 1;
    display: flex;
    padding: 8px;
}

.button {
    width: 100%;
}

